﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
*/
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.panel {
    border: 1px solid black !important;
}

.panel-heading {
    font-size: 17px;
    background-color: #fbfbfb;
    font-weight: 500 !important;
    font-size: 17px;
    padding: 5px 10px;
}
.container {
    margin: 90px;
}

.item-badge {
    text-align: center;
    float: left;
    margin-right: 12px;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 19.5px;
    border-radius: 18px;
    margin-top: 2px;
}

.fill {
    fill: #ffffff;
    transition: .5s;
}

.profile_dropdown {
    margin-top: 2px !important;
}

.navbar-nav.navbar-left li a {
    height: 64px;
    display: -webkit-flexbox;
    align-items: center;
    display: -ms-block !important;
}

.navbar-right {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .navbar-nav.navbar-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 30px 0 15px;
    }
}

@media (max-width: 992px) {
    .navbar-nav.navbar-right {
        display: -webkit-box;
        -webkit-box-pack: start !important;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 30px 0 15px;
    }
}

nav.navbar-findcond {
    background-color: #25292c;
    font-size: 15px;
    padding: 0 0 0 16px;
}

    nav.navbar-findcond a {
        color: #f03838;
    }

    nav.navbar-findcond ul.navbar-nav a {
    }

.nav li a img {
    display: inline !important;
}

nav.navbar-findcond ul.navbar-nav .left-nav:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active {
    background: none !important;
}

nav.navbar-findcond ul.navbar-nav .border-active a.active {
    border-bottom: 5px solid #337ab7;
    outline: none;
}

li.border-active:focus {
    outline: none;
}

nav.navbar-findcond ul.navbar-nav .left:hover {
    opacity: 1;
    color: #fff !important;
}

a {
    color: #9b9b9b !important;
    font-weight: 500;
}

    a:hover {
        opacity: 1;
        color: #fff;
    }

nav.navbar-findcond li.divider {
    background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
    background: #337ab7;
    border-radius: 2px;
    margin: 15px 15px 15px 0px;
}

    nav.navbar-findcond button.navbar-toggle:hover {
    }

    nav.navbar-findcond button.navbar-toggle > span.icon-bar {
        background: #fff;
    }

nav.navbar-findcond ul.dropdown-menu {
    border: 0;
    background: #fff;
    box-shadow: 0 0 4px 0 #ccc;
}

    nav.navbar-findcond ul.dropdown-menu > li > a {
        color: #444;
    }

        nav.navbar-findcond ul.dropdown-menu > li > a:hover {
        }

nav.navbar-findcond span.badge {
    background: #f03838;
    font-weight: 700;
    font-size: 11px;
    margin: 0 4px;
    line-height: 10px;
    height: auto !important;
    width: auto !important;
}

nav.navbar-findcond span.noti {
    background: #f03838;
    font-weight: 700;
    font-size: 11px;
    margin: 0 8px !important;
    line-height: 10px;
    height: auto !important;
    width: auto !important;
}

nav.navbar-findcond span.badge.new {
    background: rgba(240, 56, 56);
    color: #fff;
}

.btn-primary {
    background-color: rgb(16, 94, 124);
}

.navbar-right {
    padding-top: 10px;
}

.navbar-brand {
    padding: 15px 15px;
    font-size: 16px;
}

.notification {
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 20px;
}

.prof.notification a {
    line-height: 25px;
}

.invit {
    padding-right: 15px;
}

.invite {
    opacity: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    height: 36px;
    padding: 0 17px;
    line-height: 34px;
    border-radius: 4px;
    background-color: #337ab7;
    box-shadow: 0 2px 6px 0 rgba(3,90,190,.5);
    color: #fff !important;
    font-weight: 700;
    transition: all .1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
}

    .invite:hover {
        opacity: 1 !important;
        background: #51abff !important;
        color: #fff !important;
    }

.logo {
    padding-top: 18px;
    padding-right: 25px;
}

.not:hover {
    background-color: #337ab7;
    color: #fff !important;
}

.prof:hover, li.prof:focus, li.prof:visited, li.prof.open {
    background-color: #337ab7;
}

    .prof:hover .npi-mark, .prof.open .npi-mark {
        color: #337ab7;
        background-color: #fff !important;
    }

    .prof:hover a:active, .prof:hover a.prof {
        color: #fff !important;
    }

.prof.open > a, .prof.open > a:focus, .prof.open > a:hover {
    background-color: #337ab7;
    color: #fff !important;
}

.prof {
    padding-top: 12px;
    font-weight: 400;
}

.prof1:hover, li.prof1:focus, li.prof1:visited, li.prof1.open {
    background-color: #337ab7;
}

    .prof1:hover .npi-mark, .prof1.open .npi-mark {
        color: #337ab7;
        background-color: #fff !important;
    }

    .prof1:hover a:active, .prof1:hover a.prof1 {
        color: #fff !important;
    }

.prof1.open > a, .prof1.open > a:focus, .prof1.open > a:hover {
    background-color: #337ab7;
    color: #fff !important;
}

.prof1 {
    padding-top: 15px;
    font-weight: 400;
}

.dropdown-menu.profile_dropdown {
    width: 250px;
}

.invit .btn.invite {
    line-height: 35px;
}

.data.nav-npi {
    margin-left: 0px;
}

li.prof a.prof:active {
    border-bottom: none;
    margin-top: none;
}

li.prof1 a.prof1:active {
    border-bottom: none;
    margin-top: none;
}

.header .btn {
    position: relative;
    top: 14px;
    margin-right: 15px;
}

.btn_icon {
    padding-left: 9px;
}

.btn:hover {
    opacity: 1;
    background: #51abff;
    color: #fff;
}

.btn {
    opacity: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    height: 36px;
    padding: 0 17px;
    line-height: 34px;
    border-radius: 4px;
    background-color: #337ab7;
    box-shadow: 0 2px 6px 0 rgba(3,90,190,.5);
    color: #fff;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn_icon_invite:before {
    background: url(/./assets/img/invite.svg) no-repeat;
    background-size: contain;
}

.btn_icon:before {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    content: "";
}

.noti {
    position: absolute;
    bottom: 23px;
    left: 20px;
    font-weight: 700;
}

.npi-mark {
    font-size: 10px;
    padding: 1px 7px 1px;
    right: 0;
}

.npi-mark {
    border-radius: 2px;
    background-color: #337ab7 !important;
    text-align: center;
    color: #fff;
    vertical-align: super;
    box-sizing: border-box;
    text-transform: uppercase;
}

    .npi-mark:hover {
        color: #337ab7;
        background-color: #fff !important;
    }

.name {
    display: inline-block;
    height: 27px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    white-space: nowrap;
}

.drop {
    color: #337ab7 !important;
    font-size: 15px;
}

.dropdown-item:hover {
    background: none !important;
    opacity: .8 !important;
    color: #337ab7 !important;
}

.navbar-right {
    margin-top: -13px
}

.data {
    width: 250px;
    height: inherit;
}

.profileImage {
    height: 28px;
    display: inline-block;
    width: 28px;
    margin: -7px 0px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

nav.navbar-findcond ul.navbar-nav .border-active a.active svg path {
    fill: #fff;
}

nav.navbar-findcond ul.navbar-nav .border-active a.active span {
    color: #fff;
}

@media only screen and (max-width: 480px) {

    .nav-logo {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {

    .invit {
        margin-left: 18px;
    }
}

@media only screen and (max-width: 768px) {
}

.prof:hover {
    color: #fff !important;
}

.border-active .left-nav:hover svg path {
    fill: #fff;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .prof {
        position: static !important;
    }

    .dropdown-menu {
        position: absolute !important;
        z-index: 999;
        left: 0;
        right: 0;
        width: 100% !important;
    }

    .navbar-header {
        width: 100%;
        padding: 0 15px;
    }

    nav.navbar-findcond {
        padding: 0px;
    }

    .navbar-nav.navbar-left li a {
        height: auto;
    }

    .notification {
        display: none;
    }

    .prof:hover, li.prof:focus, li.prof:visited, li.prof.open, .prof.open > a, .prof.open > a:focus, .prof.open > a:hover {
        background-color: transparent;
    }

    .data a {
        padding: 10px 0;
    }

    .data {
        width: 100%;
    }

    nav.navbar-findcond ul.navbar-nav .border-active a.active {
        border-bottom: none;
    }

    .left-nav {
        display: block !important;
    }

        .left-nav svg {
            margin: 0px !important;
        }

    .badge-c {
        left: 38px !important;
    }
}

@media (max-width: 767px) {
    .prof {
        position: static !important;
    }

    .dropdown-menu {
        position: absolute !important;
        z-index: 99999999;
        left: 0;
        right: 0;
        width: 100% !important;
        visibility: visible !important;
    }

    .navbar-header {
        width: 100%;
        padding: 0 15px;
    }

    nav.navbar-findcond {
        padding: 0px;
    }

    .navbar-nav.navbar-left li a {
        height: auto;
    }

    .notification {
        display: none;
    }

    .prof:hover, li.prof:focus, li.prof:visited, li.prof.open, .prof.open > a, .prof.open > a:focus, .prof.open > a:hover {
        background-color: transparent;
    }

    .data a {
        padding: 10px 0;
    }

    .data {
        width: 100%;
    }

    nav.navbar-findcond ul.navbar-nav .border-active a.active {
        border-bottom: none;
    }
}

.referral_image {
    width: 30px;
    height: 20px;
    padding-right: 10px;
}

.referral_image-logout {
    width: 25px;
    margin-left: -13px;
    margin-right: 8px;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover, nav.navbar-findcond ul.dropdown-menu > li > a:active {
    color: #337ab7 !important
}

nav.navbar-findcond ul.dropdown-menu > li:focus {
    outline: none;
}

.notification-title.active {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.notification-title {
    font-size: 15px;
    letter-spacing: .1px;
    font-weight: 400;
    color: #030303;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.notification-list {
    width: 315px;
    left: -134px !important;
    margin-top: 1px !important;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
}

.close {
    font-size: 24px;
}

.notification-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: inline-flex;
    width: 100%;
}

.notification__item:hover {
    opacity: .85;
}

.notification__item {
    opacity: 1;
    display: flex;
    transition: all .15s ease-in-out;
    cursor: pointer;
    font-size: 15px;
}

.notification__item-inner {
    font-size: 15px;
    line-height: 1.16;
    color: #030303;
    font-weight: 400 !important;
    margin-right: -14px;
}

.notification__item-info {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 205px;
}

.notification__item-inner time {
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: .1px;
    color: #9b9b9b;
}

.notification-fixed {
    max-height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 80px;
}

    .notification-fixed::-webkit-scrollbar {
        width: 8px;
    }

    .notification-fixed::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #ccc;
    }

.image-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.avatar-prof {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    vertical-align: top;
}



.dlt {
    font-size: 18px;
    color: #f95b5b;
    margin-left: 28px;
}

    .dlt:hover {
        opacity: .8 !important;
    }

.rm {
    background-color: #ffffff !important;
}

    .rm .remove_noti {
        margin-left: 75px;
        color: #f95b5b;
        background: none !important;
    }

        .rm .remove_noti:hover {
            opacity: .8;
        }

.btn_delete {
    opacity: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    padding: 0px;
    line-height: 34px;
    color: #f95b5b;
    background-color: #fff;
    box-shadow: none;
    border: none;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

    .btn_delete:hover {
        opacity: .8;
        color: #f95b5b;
        background-color: #fff;
    }

.navbar-fixed-top {
    border-width: 0px !important;
}

.notification-item .rm .view_noti {
    color: #337ab7;
    background: none !important;
}

    .notification-item .rm .view_noti:hover {
        opacity: .8;
    }

.noti-vie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
}

.alert-box {
    position: fixed;
    right: 10px;
    z-index: 9999;
    top: 10px;
}

.alert-noti {
    background-color: #fff;
    width: 300px;
    display: block;
    height: auto;
    margin: 10px 0px !important;
    box-shadow: 0 0 4px 0 #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.alert, .alert-dismissable, .alert-dismissible {
    margin-bottom: 0px !important;
}

.alert-noti span img {
    margin-top: 10px;
    margin-left: 6px;
}

.alert-noti1:hover {
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

.alert-noti1 {
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 0px 0px 0px 43px;
    width: 390px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999;
    color: #fff !important;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    background-color: #bd362f;
}

.left-nav {
    display: -webkit-grid !important;
    display: -ms-block !important;
}

    .left-nav svg {
        display: block;
        margin: auto;
    }

.badge-c {
    top: 10px;
    left: 54%;
    height: 18px;
    line-height: 14px;
    border-radius: 14px;
    z-index: 1;
    position: absolute;
}

.setting-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    float: left;
}

.alert {
    padding: 0px !important;
}

nav a {
    cursor: pointer;
}

nav ul.dropdownMenu {
    border: 0;
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2) !important;
    border: 1px solid #ccc;
}

nav .dropdownMenu .dropdown-item {
    height: 35px !important;
    border-bottom: 1px solid #eee;
}

a.left-nav.left {
    text-align: center;
}

.sideNav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    transition: .5s;
    z-index: 9999;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 0px;
    font-family: lato;
}

li.list-group-item {
    border-radius: 0px !important;
    border-right: 0;
    border-left: 0;
    display: flex;
}

.sideNav::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.sideNav::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.sideNav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #337ab7;
}

.list-name {
    position: relative;
    top: 1px;
    font-size: 13px;
}

.closebtn {
    font-size: 25px;
    position: absolute;
    right: 14px;
    font-weight: bold;
    cursor: pointer;
}

.list-group-item {
    border-bottom: 1px solid #f7f7f7 !important;
    border-top: 1px solid #f7f7f7 !important;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

    .list-group-item.active {
        background-color: #337ab7 !important;
    }

    .list-group-item:hover {
        padding-left: 20px;
    }

.navMenu {
    position: fixed;
    left: 0;
    top: 20px;
    transition: .5s;
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: white;
    padding: 20px 5px 20px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
    z-index: 99;
}

    .navMenu:hover {
        padding: 15px 12px;
        top: 25px;
    }

.ml24 {
    margin-left: 20%;
    transition: .5s;
}

.userRole {
    font-size: 12px;
    color: #9c9c9c;
    font-weight: bold;
}

.userEmail {
    font-size: 12px;
    color: #9c9c9c;
}

.container1 {
    margin: 15px 20px 10px 20px;
}

.card {
    background-color: #ffffff;
    padding: 4px 35px 10px 35px;
    border-radius: 5px;
    transition: .5s;
    overflow: hidden;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.3);
}

.latoFont {
    font-family: 'Lato', sans-serif;
    transition: .5s;
}

.card :hover {
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,.3);
}

.cardHeader {
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mt-25 {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-top: 15px;
    float: right;
}

.label-error {
    color: #f95b5b;
    padding: 4px 0 0;
    font-size: 13px;
}

.error-textbox {
    border: 1px solid #f95b5b;
    background-color: #f95b5b12;
}

.text-danger {
    color: #ed5565;
}

.fh {
    max-height: 200px !important;
    transition: .5s;
}

.croph {
    max-height: 45px !important;
    transition: .5s;
}

.bordered {
    border-bottom: 1px solid #eee;
}

.updown {
    float: right;
    position: relative;
    top: 10px;
}

.Holder {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
}

.editBtn {
    float: right;
    color: #337ab7;
    font-weight: bold;
    border: 1px solid #337ab7;
    padding: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.Verified {
    float: right;
    border: 1px solid #337ab7;
    border-radius: 20px;
    padding: 1px 15px;
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}

.unVerified {
    float: right;
    border: 1px solid #337ab7;
    border-radius: 20px;
    padding: 1px 15px;
    cursor: pointer;
}

.openClose {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    float: right;
    transition: .5s;
}

.chevronImg {
    width: 16px;
    margin: 9px auto;
    float: right;
    transition: .5s;
}

.translate {
    transform: rotate(180deg);
    transition: .5s;
}

.editContainer {
    border: 1px solid #337ab7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    right: 40px;
    z-index: 999999;
}

.editDetailsBtn {
    position: relative;
    top: -2px;
}

.provD :-moz-read-only {
    border: 1px dashed #ccc;
    background-color: white;
    box-shadow: none;
    opacity: 0.6;
    cursor: pointer;
}

.provD :read-only {
    border: 1px dashed #ccc;
    background-color: white;
    box-shadow: none;
    opacity: 0.6;
    cursor: pointer;
}

.provD :-moz-read-only:focus {
    border-color: #337ab7;
}

.provD :read-only:focus {
    border-color: #337ab7;
}

.dx-selectbox {
    border-radius: 5px;
}

.tabSection {
    padding: 10px;
    border: 1px solid #eee;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
}



.mt-10 {
    margin-top: 10px;
}

.verifiedMark {
    border-radius: 20px;
    font-size: 12px;
    padding: 0px 10px 2px;
    position: relative;
    top: 16px;
    background-color: #337ab7;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.verified {
    background-color: #1c8c1c;
}

.unverified {
    background-color: #ff4444;
}

.tabSection ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.tabSection ::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.tabSection ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #337ab7;
}

textarea {
    resize: none;
}

.addMoreLabel {
    margin-left: 10px;
    font-size: 11px;
    color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 20px;
    padding: 0px 12px 2px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

    .addMoreLabel :hover {
        background-color: #337ab747;
        color: white;
        border: 1px solid #337ab745 !important;
    }

.checkImg {
    cursor: pointer;
    position: relative;
    top: 15px;
}

.dx-icon-filter {
    font-size: 12px !important;
}

.dx-button-text {
    font-size: 12px;
}

.dx-texteditor-input {
    padding-top: 0px !important;
}

.dx-overlay-shader {
    background-color: transparent !important;
}

. {
    padding: 0px 5px 0px 5px;
}

    .m1 {
        margin: 8px 10px 20px 15px !important;
    }

    .dx-datagrid .dx-row > td {
        padding: 7px 7px 0px 7px;
        line-height: 1.5;
    }

    .dx-header-row > td {
        padding: 7px !important;
    }

    .dx-datagrid .dx-header-filter:before {
        font-size: 9px !important;
    }

td {
    border-right: none !important;
    border-left: none !important;
}

.dx-datagrid-headers .dx-datagrid-nowrap, table tbody {
    border-right: 1px solid #dddddd !important;
    border-left: 1px solid #dddddd !important;
}

.dx-texteditor-input {
    position: relative;
    top: 3px;
}

.dx-selectbox .dx-texteditor-input {
    position: relative;
    top: 0px !important;
}

.dx-datagrid-header-panel {
    padding: 0px 10px;
}

.dx-pager {
    padding-top: 9px !important;
    padding-bottom: 0px !important;
}

.dx-datagrid-pager {
    border-top: 1px solid #f7f7f7 !important;
}

.dx-pager .dx-page-sizes .dx-page-size {
    padding-left: 5px !important;
    padding-right: 7px !important;
    padding-top: 5px !important;
    padding-bottom: 6px !important;
    font-size: 12px !important;
}

.dx-pager .dx-pages .dx-prev-button, .dx-pager .dx-pages .dx-next-button {
    font-size: 16px !important;
    text-align: center !important;
    line-height: 16px !important;
}

.dx-pager .dx-pages .dx-page {
    padding: 5px 7px 6px !important;
    font-size: 12px !important;
}

.dx-group-panel-message {
    font-size: 13px !important;
}

.dx-searchbox .dx-texteditor-input, .dx-searchbox .dx-placeholder:before {
    font-size: 13px !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
}

.dx-filter-menu input.dx-texteditor-input {
    top: 2px !important;
}

.no-Practice-Msg {
    text-align: center;
    margin: 50px;
    font-size: 16px;
    font-family: lato;
    color: #cccccc;
}

.dx-dropdowneditor-icon {
    position: relative;
    top: 3px;
}

.dx-texteditor-buttons-container {
    position: relative;
    top: -3px;
}



span.dx-icon.dx-icon-clear {
    padding-top: 10px;
}

.dx-overlay-shader {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.errorBox {
    margin-top: 10px;
    transition: .5s;
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 5px;
    width: 18px;
    height: 18px;
    margin-right: 11px;
    left: 0px;
    top: 7px;
    margin: 0px 10px;
}

    .spinner .path {
        stroke: #337ab7;
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
    }
/*
@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}*/

.s_row {
    /* border-bottom: 1px solid #d2e7ea; */
    padding: 4px 0px;
    background: #fff;
    border-bottom: 1px solid #eef !important;
}

    .s_row:last-child {
        border-bottom: 0px solid #eef !important;
    }

    .s_row .col-5 {
        margin: 0 0px;
        padding: 0 8px;
    }

.ss_col {
    border: 1px solid #eef;
    max-width: 100%;
    margin: -1px;
}

.ss_row {
    border-right: 1px solid #eef;
    /* border-right: 1px solid #d2e7ea; */
    padding: 2px 0px;
    background: #fff;
}

    .ss_row:last-child {
        border-right: 0px solid #eef;
    }

.s_col {
    border: 1px solid #eef;
    max-width: 49.5% !important;
    /* margin: 5px !important; */
}
