﻿<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RCM</title>
    <link href="https://rcmapplication.s3.us-east-2.amazonaws.com/logo.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script> *@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://rcmapplication.s3.us-east-2.amazonaws.com/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/js/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link href="https://rcmapplication.s3.us-east-2.amazonaws.com/devextreme/dx.common.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="https://rcmapplication.s3.us-east-2.amazonaws.com/devextreme/dx.light.css" rel="stylesheet" />
    <link href="~/css/confirm.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>
    <script src="~/js/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-timepicker.js" type="text/javascript"></script>
    @* Uncomment to enable client-side export *@
    <script src="~/js/devextreme/jszip.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/confirm.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/moment.js"></script>

</head>

<body style="height:100%">
    <div class="loader" style="display: none"></div>
    <div class="modal" id="mShowProgress"> </div>

    <input type="hidden" id="UserName" />
    <input type="hidden" id="UserType" />
    <input type="hidden" id="UserId" />
    <input type="hidden" id="UserEmail" />
    <main role="main" class="container-fluid" style="height: calc(100% - 40px);">
        <nav>
            <div class="navMenu" id="dNavMenu" onclick="SlideNav()" title="Menu">
                <div>
                    <img alt="Menu" src="~/images/left.svg" width="20px">
                </div>
            </div>
            <div id="dslidenav" class="sideNav" data-val="0" style="width: 0%; transition: all 0.5s ease 0s;">
                <div>
                    <div class="container-fluid">
                        <div class="row" style="text-align: center;margin-top: 15px;">
                            <div class="col-xs-12">
                                <img alt="" class="dpimg" src="~/images/werq.svg" style="width: 20%;text-align: center;border: 1px solid #e0e0e0;border-radius: 30px;">
                            </div>
                            <div style="font-size: 16px;font-weight: 500;margin-top: 40px; padding: 25px 0px 0px 0px;" id="username"></div>
                            <div class="userRole" id="userrole"><span id="useremail"></span></div><div class="userEmail">
                                <span id="usertype"></span>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-group" style="margin-top: 15px; padding-right: 20px; padding-left: 20px;">
                                <li class="list-group-item" tabindex="0" onclick="OnMenuClick('Providers')"><span class="list-name"> Providers</span></li>
                                <li class="list-group-item" tabindex="0" onclick="OnMenuClick('Login')" ><span class="list-name" id="lLoginDetails"> Login</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
    </main>
    <script>
        function SlideNav() {
            if ($("#dslidenav").attr("data-val") == "0") {

                $("#dslidenav").attr("style", "width: 20%; transition: all 0.5s ease 0s;");
                $("#dslidenav").attr("data-val", 1);
                $("#dNavMenu").addClass("ml24");
            }
            else {
                $("#dslidenav").attr("style", "width: 0%; transition: all 0.5s ease 0s;");
                $("#dslidenav").attr("data-val", 0);
                $("#dNavMenu").removeClass("ml24");
            }
        }
        function OnMenuClick(val) {
            switch (val) {
                case "Providers" :
                    window.location.href = '@Url.Page("Index", "")';
                    break;
                case "Login":
                    window.location.href = '@Url.Page("LoginValidate", "")';
                    break;
                default:
            }
        }
    </script>
</body>

</html>