﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCM</title>
    <link href="https://rcmapplication.s3.us-east-2.amazonaws.com/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <script src="~/js/devextreme/jquery.js"></script>
</head>
<body>
    <div class="modal" id="mShowProgress"> </div>
    <div class="loader" style="display: none"></div>
    @RenderBody()
</body>
</html>
