﻿@page
@model ProviderNPI_Lambda.Pages.GridFilterDataModel
@{
}

<style>

    .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
        color: black;
    }

    .cf {
        position: relative;
        top: -25px !important;
    }
    .redborder {
        border-block-color:red;
    }
    .no-padding {
        padding: 0;
    }

    .dx-datagrid {
        padding: 5px !important;
    }

    .dx-datagrid-header-panel .dx-toolbar {
        margin-bottom: 5px !important;
    }

    .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
        font-weight: 500 !important;
        color: #333 !important;
    }

    div#FilterData * {
        font-size: .8rem !important;
    }

    .dx-toolbar-text-auto-hide .dx-button .dx-button-content {
        padding: 4px !important;
        margin-top: 3px !important;
    }

    .dx-header-filter {
        color: blue !important;
    }

    .dx-header-filter-empty {
        color: grey !important;
    }
</style>
<div class="col-lg-12" id="dCreateFilter">
    <div class="col-4"><a id="aFilterBuilder" href="#" onclick="ShowFilterDetails()">Create Filters</a></div>
</div>
<div id="FilterData"></div>

<script src="~/js/GridFilterData.js"></script>