﻿@page
@model ProviderNPI_Lambda.Pages.IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "_DevExtremeLayout";
}
<style>

</style>
<div id="getAllPractices" style="height:100%">
    <div class="container-fluid" style="height:100%">
        <div class="col-md-12" style="height:100%">
            <div class="row" style="padding: 0">
                <div class="col-md-11 latoFont" style="padding: 0;height: 100%">
                    <h5><b>Search Practice</b></h5>
                </div>
                <div class="col-md-1">
                    <img class="chevronImg" src="~/images/chevron.svg" alt="" />
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="number" formControlName="NPINumber" id="txtNPINumber" onblur="txtNPINumber_onBlur(this)" placeholder="NPI Number" />
                    <div class="text-danger">
                        <p hidden class="text-left text-danger">
                            Invalid NPI Number!
                        </p>
                    </div>
                </div>

                <div class="col-md-2">
                    <input class="form-control" type="text" formControlName="PracticeName" id="txtPracticeName" onblur="txtPracticeName_onBlur(this)" placeholder="Practice Name" />
                </div>
                <div class="col-md-2">
                    <div class="dx-comp-container">
                        <div class="dx-comp-field-value">
                            <div id="cmdTaxonomy"></div>
                            @*@Html.DevExtreme().SelectBox().ID("cmdTaxonomy").DataSource(d => d.RemoteController().LoadUrl(Url.Page("Index", "TaxonomyData")).LoadParams(new {NPI=1234567, practiceName="pract", taxonomy="xs2323" })).DataSourceOptions(o => o
                                .Paginate(true)
                                .PageSize(50)
                                ).DisplayExpr("Grouping").Value("Code").SearchEnabled(true).Placeholder("Taxonomy").ShowClearButton(true).OnValueChanged(new JS("function(e){return Taxonomy_OnValueChanged(e);}").Value)*@
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="">
                        <div class="dx-comp-field-value">
                            <div id="cmdState"></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="">
                        <div class="dx-comp-field-value">
                            <div id="cmdCity"></div>
                            @*@Html.DevExtreme().SelectBox().ID("cmdCity").DataSource(d => d.RemoteController().LoadUrl(Url.Page("Index", "CityData"))).DataSourceOptions(o => o
                                .Paginate(true)
                                .PageSize(50)
                                ).DisplayExpr("Provider_Business_Practice_Location_Address_City_Name").Value("Provider_Business_Practice_Location_Address_City_Name").SearchEnabled(true).Placeholder("City").ShowClearButton(true).OnValueChanged(new JS("function(e){City_OnValueChanged(e);}").Value)*@
                        </div>
                    </div>
                </div>

                <div class="col-md-1" style="padding: 0;">

                    <input class="form-control" type="number" formControlName="PostalCode" placeholder="Zip" id="txtZip" />
                    <div class="text-danger">
                        <p hidden class="text-left text-danger">
                            Invalid Postal Code!
                        </p>
                    </div>
                </div>

                <div class="col-md-1 pull-right">
                    <button  class="btn btn-primary" onclick="SearchPractice()">
                        <span class="fa fa-search" />
                    </button>
                </div>
                <div class="col-md-12 text-right">
                    <span hidden class="text-danger">Please fill at least one field to search Practices!</span>
                </div>
                <div class="col-8" id="ShowFilteredDropDown" style="display:none">
                    <div class="row s_row">
                        <div class="col-md-2"><span>Saved Filters</span></div>
                        <div class="col-md-4">
                            <select id="cmdSavedFilterOption" onchange="OnSelectFilterOption()" class="form-control"></select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" id="btnCreateFilter" onclick="EditFilter_onClick()"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-primary" id="btnCreateFilter" onclick="CreateFilter_onClick()"><i class="fa fa-plus"></i></button>
                        </div>


                    </div>
                </div>
            </div>
            <div id="gridContainer" style="height: calc(100% - 40px)"></div>

        </div>
    </div>
</div>

<div class="modal" id="modFilterBuilder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 1rem !important;">Query Builder</h4>
                <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true" id="editbtnclose" onclick="closeCCmodal()">&times;</button>
            </div>
            <div class="modal-body" id="updatedetails">
                <div class="">
                    <div class="row" style="margin: 0px -5px;">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row s_row" id="dFilterName">
                                        <div class="col-2">
                                            <span>Filter Name</span>

                                        </div>
                                        <div class="col-10">
                                            <input type="text" id="txtFilterName" data-id="0" class="form-control" placeholder="Filter Name">
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div id="filterBuilder">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnApply" onclick="Apply_Filter()">Filter</button>
                <button type="button" class="btn btn-success" id="btnSaveApply" onclick="Save_Apply_Filter()">Save And Filter</button>
            </div>
        </div>
    </div>
</div>

<script>
    var URLGridFilterData;
    var URLLogin;
    var URLSaveFilter;
    var URLFilter;
    $(document).ready(function () {
        $("#ShowFilteredDropDown").hide();
        URLGridFilterData = "@Url.Page("GridFilterData", "SearchData")";
        URLLogin = '@Url.Page("LoginValidate", "")';
        URLSaveFilter = '@Url.Page("GridFilterData", "SaveFilterData")';
        URLFilter = '@Url.Page("Index", "FilterData")';
        $("#UserName").val("@TempData["UserName"]");
        $("#UserEmail").val("@TempData["UserEmail"]");
        $("#UserId").val("@TempData["UserId"]");
        $("#UserType").val("@TempData["UserType"]");
        $("#username").html("@TempData["UserName"]")
        $("#useremail").html("@TempData["UserEmail"]")
        $("#userrole").html("(@TempData["UserType"])")
        InitiateDropDown();
        if ($("#UserId").val() != "") {
            $("#lLoginDetails").attr("asp-page", "@Url.Page("Index", "")")
            $("#lLoginDetails").text("LogOut");
        }

        FillFilter();

    });
    function FillFilter() {
         $.ajax({
            url: '@Url.Page("GridFilterData", "ShowFilterData")',
            cache: false,
             data: { UserId: $("#UserId").val() },
            success: function (data) {
                if (data != null && data.length > 0) {
                    $("#ShowFilteredDropDown").show();
                    FillFilterOptions(data);
                    $("#dCreateFilter").hide();
                }
                else {
                    $("#dCreateFilter").show();
                }


            },
            error: function (data) {

            },
            failure: function (data) {

            }

        });
    }
    function FillFilterOptions(data) {
        var sFilters;
        if (data.length > 0) {
            $("#cmdSavedFilterOption").html('');
            sFilters = '<option value="Select">Select</option>';
            for (var i = 0; i < data.length; i++) {
                var oFilter = data[i];
                sFilters = sFilters + `<option value=${oFilter.User_Filter_Rel_Id} data-detail='${oFilter.Filters}'>${oFilter.Filter_Name}</option> `
            }
            $("#cmdSavedFilterOption").append(sFilters);
            $("#ShowFilteredDropDown").show();
        }
        else {
            $("#ShowFilteredDropDown").hide();
        }
    }
    var SelectedFilterData=null;
    function OnSelectFilterOption() {
        if ($("#cmdSavedFilterOption option:selected").text() != "Select") {
            SelectedFilterData = JSON.parse($("#cmdSavedFilterOption option:selected").attr("data-detail"));
            $.ajax({
                url: URLFilter,
                cache: false,
                success: function (data) {
                    $("#gridContainer").html(data);

                },
                error: function (data) {

                },
                failure: function (data) {

                }
            });
        }
    }

    function IsJsonString(jsonString) {
        try {
            var o = JSON.parse(JSON.stringify(jsonString));

            // Handle non-exception-throwing cases:
            // Neither JSON.parse(false) or JSON.parse(1234) throw errors, hence the type-checking,
            // but... JSON.parse(null) returns null, and typeof null === "object",
            // so we must check for that, too. Thankfully, null is falsey, so this suffices:
            if (o && typeof o === "object") {
                return o;
            }
        }
        catch (e) { }

        return false;
    };
    function InitiateDropDown() {
        $("#cmdTaxonomy").dxSelectBox(
        {
            "dataSource": {
                "store":
                    DevExpress.data.AspNet.createStore(
                        {
                            "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val() },
                            "loadUrl": "@Url.Page("Index", "TaxonomyData")"
                        }),
                "paginate": true,
                "pageSize": 50
            },
            "displayExpr": "taxonomy_code",
                "value": "Code",
                dropDownOptions: {
                    minWidth: 500,
                    // maxWidth: 5,
                    height: 300
                    // maxHeight: 900 // specify this to override the fit-content behavior
                },
            "searchEnabled": true,
            "placeholder": "Taxonomy",
            "showClearButton": true,
            "onValueChanged": function (e) { return Taxonomy_OnValueChanged(e); }
            });
        $("#cmdState").dxSelectBox(
        {
            "dataSource":
            {
                "store":
                    DevExpress.data.AspNet.createStore(
                        {
                            "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val(), Taxonomy: $('#cmdTaxonomy').val() },
                            "loadUrl": "@Url.Page("Index", "StateData")"
                        }),
                "paginate": true,
                "pageSize": 50
            },
            "displayExpr": "State",
                "value": "State",
                
            "searchEnabled": true,
            "placeholder": "State",
            "showClearButton": true,
            "onValueChanged": function (e) { return State_OnValueChanged(e); }
        });
        $("#cmdCity").dxSelectBox(
        {
            "dataSource":
            {
                "store":
                    DevExpress.data.AspNet.createStore(
                        {
                            "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val(), Taxonomy: $('#cmdTaxonomy').val(), State: $('#cmdState').val() },
                            "loadUrl": "@Url.Page("Index", "CityData")"
                        }),
                "paginate": true,
                "pageSize": 50
            },
            "displayExpr": "City",
            "value": "City",
            "searchEnabled": true,
            "placeholder": "City",
            "showClearButton": true,
            "onValueChanged": function (e) { return City_OnValueChanged(e); }
        });
    }
    function RefillDropDown(SearchType) {
        var sTaxonomy = "";
        var sState = "";
        var sCity = "";
        if ($("#cmdTaxonomy").dxSelectBox('instance').option('value') !=null && $("#cmdTaxonomy").dxSelectBox('instance').option('value') !="Code")
        {
            sTaxonomy= $("#cmdTaxonomy").dxSelectBox('instance').option('value').Code;
        }
        if ($("#cmdState").dxSelectBox('instance').option('value') != null && $("#cmdState").dxSelectBox('instance').option('value') != "Provider_Business_Practice_Location_Address_State_Name")
        {
            sState = $("#cmdState").dxSelectBox('instance').option('value').Provider_Business_Practice_Location_Address_State_Name;
        }
        if ($("#cmdCity").dxSelectBox('instance').option('value') != null && $("#cmdCity").dxSelectBox('instance').option('value') != "Provider_Business_Practice_Location_Address_City_Name")
        {
            sCity = $("#cmdCity").dxSelectBox('instance').option('value').Provider_Business_Practice_Location_Address_City_Name;
        }
        if (SearchType != "Taxonomy" && !IsJsonString($("#cmdTaxonomy").dxSelectBox('instance').option('value'))) {
            $("#cmdTaxonomy").dxSelectBox(
            {
                "dataSource": {
                    "store":
                        DevExpress.data.AspNet.createStore(
                            {
                                "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val() },
                                "loadUrl": "@Url.Page("Index", "TaxonomyData")"
                            }),
                    "paginate": true,
                    "pageSize": 50
                },
                "displayExpr": "taxonomy_code",
                "value": "Code",
                "searchEnabled": true,
                "placeholder": "Taxonomy",
                "showClearButton": true,
                "onValueChanged": function (e) { return Taxonomy_OnValueChanged(e); }
            });
        }
        if (SearchType != "State" && !IsJsonString($("#cmdState").dxSelectBox('instance').option('value'))) {
            $("#cmdState").dxSelectBox(
            {
                "dataSource":
                {
                    "store":
                        DevExpress.data.AspNet.createStore(
                            {
                                "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val(), Taxonomy: sTaxonomy },
                                "loadUrl": "@Url.Page("Index", "StateData")"
                            }),
                    "paginate": true,
                    "pageSize": 50
                },
                "displayExpr": "State",
                "value": "State",
                "searchEnabled": true,
                "placeholder": "State",
                "showClearButton": true,
                "onValueChanged": function (e) { return State_OnValueChanged(e); }
            });
        }

        if (SearchType != "City" && !IsJsonString($("#cmdCity").dxSelectBox('instance').option('value'))) {
            $("#cmdCity").dxSelectBox(
            {
                "dataSource":
                {
                    "store":
                        DevExpress.data.AspNet.createStore(
                            {
                                "loadParams": { NPI: $('#txtNPINumber').val(), PracticeName: $('#txtPracticeName').val(), Taxonomy: sTaxonomy, State: sState },
                                "loadUrl": "@Url.Page("Index", "CityData")"
                            }),
                    "paginate": true,
                    "pageSize": 50
                },
                "displayExpr": "City",
                "value": "City",
                "searchEnabled": true,
                "placeholder": "City",
                "showClearButton": true,
                "onValueChanged": function (e) { return City_OnValueChanged(e); }
            });
        }
    }
    function txtNPINumber_onBlur(e) {
        RefillDropDown("");
    }
    function txtPracticeName_onBlur(e) {
        RefillDropDown("");
    }
    function Taxonomy_OnValueChanged(e) { RefillDropDown("Taxonomy"); }
    function State_OnValueChanged(e) { RefillDropDown("State"); }
    function City_OnValueChanged(e) { RefillDropDown("City"); }
    function SearchPractice() {
        SelectedFilterData = null;
        var searchdata = {
            NPINumber: $("#txtNPINumber").val(),
            PracticeName: $("#txtPracticeName").val(),
            Zip: $("#txtZip").val()
        };
        if ($("#cmdTaxonomy").dxSelectBox('instance').option('value') != null && $("#cmdTaxonomy").dxSelectBox('instance').option('value') != "Code") {
            searchdata.Taxonomy =
                $("#cmdTaxonomy").dxSelectBox('instance').option('value').Code;
        }
        if ($("#cmdState").dxSelectBox('instance').option('value') != null && $("#cmdState").dxSelectBox('instance').option('value') != "State") {
            searchdata.State =
                $("#cmdState").dxSelectBox('instance').option('value').State;
        }
        if ($("#cmdCity").dxSelectBox('instance').option('value') != null && $("#cmdCity").dxSelectBox('instance').option('value') != "City") {
            searchdata.City =
                $("#cmdCity").dxSelectBox('instance').option('value').City;
        }
        if ((searchdata.NPINumber == undefined || searchdata.NPINumber == "") && (searchdata.PracticeName == undefined || searchdata.PracticeName == "") && (searchdata.Taxonomy == undefined || searchdata.Taxonomy == "") && (searchdata.State == undefined || searchdata.State == "") && (searchdata.City == undefined || searchdata.City == "")) {
            $.alert({
                title: 'Error!',
                content: "Please search from any of the options",
                type: 'red',
                icon: 'fa fa-times',
            });
        }
        else {
            GridData(searchdata);
        }


    }
    function GridData(searchdata) {
        $.ajax({
                url: '@Url.Page("Index", "FilterData")',
                cache: false,
                data: searchdata,
                success: function (data) {

                    $("#gridContainer").html(data);
                },
                error: function (data) {

                },
                failure: function (data) {

                }

            });
    }
    function CreateFilter_onClick() {
        $("#filterBuilder").dxFilterBuilder({
            fields: FilterDataField,
            value: []
        });
        $("#txtFilterName").val('');
        $("#modFilterBuilder").show();
    }
    function EditFilter_onClick() {
        if ($("#cmdSavedFilterOption option:selected").attr("data-detail") != undefined) {
            $("#filterBuilder").dxFilterBuilder({
                fields: FilterDataField,
                value: JSON.parse($("#cmdSavedFilterOption option:selected").attr("data-detail"))
            });
            $("#txtFilterName").attr("data-id", $("#cmdSavedFilterOption option:selected").val());
            $("#txtFilterName").val($("#cmdSavedFilterOption option:selected").text());
            $("#modFilterBuilder").show();
        }
        else {
            ShowAlertErrorMessage(Alertmessages.SelectTheRecordToEdit);
        }
        
    }
    function Save_Apply_Filter() {
        var isValid = true;
        if ($("#txtFilterName").val() == "") {
            ShowAlertErrorMessage(Alertmessages.PleaseEnterFilterName)
        }
        $("#txtFilterName").removeClass("redborder")
        if ($("#txtFilterName").val() == "") {
            isValid = true;
            $("#txtFilterName").addClass("redborder")
        }
        var filter = $("#filterBuilder").dxFilterBuilder("instance").option("value");
        SelectedFilterData = filter;
        $.ajax({
            url: URLSaveFilter,
            cache: false,
            data: { Filter: JSON.stringify(filter), UserId: $("#UserId").val(), filter_name: $("#txtFilterName").val(), FilterId: $("#txtFilterName").attr("data-id") },
            success: function (data) {
                if (data != null) {
                    FillFilterOptions(data);
                        var searchdata = {
                            NPINumber: "",
                            PracticeName: "",
                            Zip: "",
                            Taxonomy: "",
                            State: "",
                            City: ""
                    };
                    var filter_id = 0;
                    for (var i = 0; i < data.length; i++) {
                        var oFilter = data[i];
                        if (oFilter.Filter_Name == $("#txtFilterName").val()) {
                            filter_id = oFilter.User_Filter_Rel_Id;
                            break;
                        }
                    }
                    if (parseInt($("#txtFilterName").attr("data-id")) > 0) {
                        $("#cmdSavedFilterOption").val(parseInt($("#txtFilterName").attr("data-id")));
                    } else {
                        $("#cmdSavedFilterOption").val(filter_id);
                    }
                    $("#txtFilterName").attr("data-id", 0);
                    
                        GridData(searchdata);
                        closeCCmodal();
                }
                //Apply_Filter();
            },
            error: function (data) {

            },
            failure: function (data) {

            }

        });
    }

    function Apply_Filter() {
        SelectedFilterData = $("#filterBuilder").dxFilterBuilder("instance").option("value");
        var searchdata = {
            NPINumber: "",
            PracticeName: "",
            Zip: "",
            Taxonomy: "",
            State: "",
            City: ""
        };
        GridData(searchdata);
        //$("#FilterData").dxDataGrid("instance").option("filterValue", filter);
        closeCCmodal();
    }
    function closeCCmodal() {
        $("#modFilterBuilder").hide('modal');
    }
</script>