﻿@page
@model ProviderNPI_Lambda.Pages.LoginValidateModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<style>
    html, body {
        height: 100%;
    }

    body {
        background-color: #f5f5f5 !important;
    }

    .login-logo {
        height: 70px;
        margin-top: 20px;
    }

    .btn-primary {
        color: #fff;
        color: var(--fc-button-text-color, #fff);
        background-color: #2C3E50;
        background-color: var(--fc-button-bg-color, #2C3E50);
        border-color: #2C3E50;
        border-color: var(--fc-button-border-color, #2C3E50);
        transition: .5s;
        font-size: 12px;
        text-transform: capitalize;
    }

        .btn-primary a:hover, .btn-primary:hover {
            color: #fff;
            color: var(--fc-button-text-color, #fff);
            background-color: #1e2b37;
            background-color: var(--fc-button-hover-bg-color, #1e2b37);
            border-color: #1a252f;
            border-color: var(--fc-button-hover-border-color, #1a252f);
        }

        .btn-primary a:focus, .btn-primary a:active, .btn-primary:focus, .btn-primary:active {
            box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5) !important;
            background-color: #1a252f !important;
            border-color: #1a252f !important;
        }

    #layoutAuthentication #layoutAuthentication_content {
        min-width: 0;
        flex-grow: 1;
    }

    div#layoutAuthentication_footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="https://rcmapplication.s3.us-east-2.amazonaws.com/nisos-logo.png" class="img-responsive login-logo">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-custom border-0 rounded-lg mt-5">
                <div class="card-body">
                    <div id="formValidate">
                        <p class="lead text-center">Login</p>
                        <div class="form-group">
                            <label class="small mb-1" for="email">Email/Username</label>
                            <input type="text" class="form-control py-4" name="email" id="email" required="" placeholder="Enter Username">
                            <div class="invalid-feedback">Please enter username.</div>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="password">Password</label>
                            <input name="password" id="password" type="password" class="form-control py-4" required="" placeholder="Enter Password">
                            <div class="invalid-feedback">Please enter password.</div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="button" id="login" onclick="ValidateLogin()">Login</button>
                        </div>
                        <span id="sError"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright © <a href="https://nisos.health/">Nisos Health</a> 2020</div>

            </div>
        </div>
    </footer>
</div>
<script>
    var isValid = false;
 $(document).ready(function () {
        //var frm = $("#formValidate");
        //frm.validate();

     @*$('#formValidate').on('submit', function (event) {
         if ($('#formValidate')[0].checkValidity()) {

             $.ajax({
                 url: '@Url.Page("Login", "CheckLogin")',
                 data: { username: $("#email").val(), password: $("#password").val() },
                 cache: false,
                 //async: true,
                 success: function (data) {
                     isValid = data;
                 },
                 error: function (data) {

                 },
                 failure: function (data) {

                 }

             });
             if (isValid) {
                 isValid = true;
                  //window.location.href = '@Url.Page("Index", "")';
                 //$("#login").submit();
             } else {   /* When the form is not valid */
                 event.preventDefault(); /* Prevent from submitting the form */
                 $("#formValidate").append('Invalid login detail try again. <br />');
                 /* This is the worst i can do. Just to let you understand it easly. */
             }
         }
         else {
             event.preventDefault();
             $("#formValidate").append('Invalid login detail try again. <br />');
         }  /* Call ur form with the id you have given */




        });*@
    });
    function ValidateLogin() {
        //
        $("#sError").html('');
        var IsValid = true;
        if ($("#email").val() == "") { IsValid = false; }
        if ($("#password").val() == "") { IsValid = false; }
        if (!IsValid) { $("#sError").html('Invalid login detail try again.');}
        $.ajax({
            url: '@Url.Page("LoginValidate", "CheckLogin")',
            cache: false,
            type: 'GET',
            dataType: 'json',
            data: { username: $("#email").val(), password: $("#password").val() },
            success: function (data) {
                 if (data) { window.location.href = '@Url.Page("Index", "")';}
            },
            error: function (data) {

            },
            failure: function (data) {

            }

        });
    }

</script>
